header, a, #home, #home-text, ul, li{
	color: #383838;
}


.brand-font {
  font-family: 'Pacifico', serif;
} 
.navbar{
	background: white;
}
#navi-bar{
	margin-bottom: 0;
}

/*.navbar, .transparent{
	background: rgba(0,0,0,0,4);

    -webkit-transition-delay: 0.1s;
    	-ms-transition-delay: 0.1s;
    		transition-delay: 0.1s;
}*/
.nav-font{
	font-family: 'Lato', san-serif;
	font-size: 18px;
}
.nav-font a:hover{
	-webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;

}
h1,h2,h3,h4,h5,h6,p{
	font-family: 'Lato', serif;
}

p{
	font-size:  135%;
}

.page-edge{
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
	background: url("../assets/img/jesus-kiteque1.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#home-text{
	padding-top: 51px;
	background: transparent;
	/*background: url(../assets/img/jesus-kiteque1.JPG) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/

}
.type-style{
	font-family: Open Sans, serif; 
}
.vertical {
  min-height: 92%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 92vh; /* These two lines are counted as one :-)       */
  padding-bottom: 0;
  margin-bottom: 0;
}

.center{
  display: flex;
  align-items: center;
}

.down-button-div{
	padding-bottom: 0;
    
}
#down-button-div1, #down-button-div3{
	background: transparent;
	background: -webkit-linear-gradient(transparent 50%, #FFFFFF 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent 50%, #FFFFFF 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent 50%, #FFFFFF 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent 50%, #FFFFFF 50%); /* Standard syntax */
}
#down-button-div2{
	background-color: #FFFFFF;
	background: -webkit-linear-gradient(#FFFFFF 50%, #F0F0F0 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFFFF 50%, #F0F0F0 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFFFF 50%, #F0F0F0 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFFF 50%, #F0F0F0 50%); /* Standard syntax */
}

.menu-down-button{
	border-radius: 50%;
	border: 1px solid #A0A0A0;
	background-color: #A0A0A0;
	display: flex; 
	justify-content: center;
	margin: 0 auto;
	width: 35px;
	height: 35px;
	color: black;
}
.menu-down-button:hover{
	-webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
          -webkit-transition-duration: 0.5s; /* Safari */
    		transition-duration: 0.5s;
          text-decoration: none;
          color: black;
}
#about{
	padding-top: 35px;
}
#about-div p{
	padding-bottom: 20px;
}

#projects{
	padding-top: 20px;
	height: 100%;
	background-color: #F0F0F0;
	width: 100%;

}
#projects-height, #about-div{
	min-height: 88vh;
}

.fix-img{
  width: auto;
  height: 250px;
  max-height: 250px;
}
/*.carousel-caption {
    position: absolute;
    left: auto;
    right: auto;
}*/
.caption-shade{
	background-color: #C0C0C0; 
}
.caption-font a{
	color: #FFFFFF !important;
}
.caption-font{
	padding: 50px;
    position: absolute;
  	height: 250px;
  	max-height: 250px;
}
.owl-theme .owl-nav [class*=owl-]{
	background: #585858;
}
#khaled-text{
	display: none;
}

#quiz-text{
	display: none;
}
/*.a-class{
	color: #FFFFFF !important;
}*/
/*
#copyright{
	color: black;
	font-size: 135%;
}
*/
footer{
	padding-bottom: 2%;
}
#footer-pad{
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}
a:visited, a:focus, a:hover, a:active{
	/*outline: transparent;*/
	text-decoration: none;
	color: inherit;
}
.footer-font, .footer-font:visited{
	color: black;
	font-size: 140%;
	font-family: 'Lato', san-serif;
}
a.footer-font:hover{
	color: #A0A0A0;
}
/*@media (min-width: 992px){
	#copyright-position{
   	 margin-left: 15%;
	}
}*/